@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css");
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

.lvl-over {
    /* applied to a drop target when a draggable object is over it */
    border: 2px dashed black !important;
}

.show-parent {
    /* applied to a drop target when a draggable object is over it */
    border: 2px dashed black !important;
}

.lvl-target {
    /* applied to all drop targets when a drag operation begins, used to indicate drop targets on a page */
    background-color: #ddd;
    opacity: .5;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move;
//border:1px solid black;
}

.peg {
    text-align: center;
//font-weight: bold;
    border:1px black solid;
    width: 75px;
    margin: 10px;
}

.slot {
    margin-right:2px;
    margin-top:2px;
    width:8%;
    height:25px;
    display:inline-block;
    border: none;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
    color: white;
}

.grey {
    background-color: grey;
}

pre strong {
    font-size:12pt;
}

.col-md-8 {
    border: solid;
    margin: 1px;
    width: 800;
    height: 500;
    position: absolute;
}

.droppedChild {
    width: 90%;
    height: 90%;
    position: absolute;

}

.col-md-3 {
    float: right;
}

.childContainer {
    padding: 2px;
    width: 12em;
    height: 5em;
    position: absolute;


}

.templateConatiner {
    padding: 2em;
    width :inherit;
    height : 700;
}

.childContainerShown {
    border: 1px dashed grey;
}

.row-padded {
    padding: 2px;
}

.mainEditorDiv {
    height: 510px;
}

.custom-menu-btn {
    width: 150px;
}